<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/travelista/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	<title>Ticketz</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

	<link rel="stylesheet" href="~/travelista/css/linearicons.css">
	<link rel="stylesheet" href="~/travelista/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/travelista/css/bootstrap.css">
	<link rel="stylesheet" href="~/travelista/css/magnific-popup.css">
	<link rel="stylesheet" href="~/travelista/css/jquery-ui.css">
	<link rel="stylesheet" href="~/travelista/css/nice-select.css">
	<link rel="stylesheet" href="~/travelista/css/animate.min.css">
	<link rel="stylesheet" href="~/travelista/css/owl.carousel.css">
	<link rel="stylesheet" href="~/travelista/css/main.css">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>